In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from scipy import stats

In [5]:
from scipy.stats import norm

In [7]:
from scipy.stats import chi2_contingency

In [8]:
cutomer=pd.read_csv("Costomer+OrderForm.csv")

In [9]:
cutomer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [14]:
cutomer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [15]:
cutomer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [16]:
cutomer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [17]:
cutomer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [18]:
All=np.array([[271,267,269,280],[29,33,31,20]])

In [19]:
All

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [20]:
chi2_contingency(All)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))